# Generated code
perfect-cell.cydsn/CortexM3/
perfect-cell.cydsn/Export/
perfect-cell.cydsn/Generated_Source/
perfect-cell.cydsn/codegentemp/
perfect-cell.cydsn/Backup/
perfect-cell.cydsn/perfect-cell-*
perfect-cell.cydsn/perfect-cell.cycdx
perfect-cell.cydsn/perfect-cell.cyfit
perfect-cell.cydsn/perfect-cell.cyprj.*
perfect-cell.cydsn/perfect-cell.rpt
perfect-cell.cydsn/perfect-cell.svd
perfect-cell.cydsn/perfect-cell_timing.html
perfect-cell.cydsn/*cywrk
perfect-cell.cydsn/config.h
